/* 2 players */
.wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    grid-template-rows: repeat(4, 1fr);
}

/* 4 players */
.wrapper4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
    grid-template-rows: repeat(8, 1fr);
}

/* 8 players */
.wrapper8 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 0px;
    grid-template-rows: repeat(16, 1fr);
}

/* 16 players */
.wrapper16 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 0px;
    grid-template-rows: repeat(32, 1fr);
}

/* 32 players */
.wrapper32 {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 0px;
    grid-template-rows: repeat(64, 1fr);
}

/* 64 players */
.wrapper64 {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 0px;
    grid-template-rows: repeat(128, 1fr);
}

/* 128 players */
.wrapper128 {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 0px;
    grid-template-rows: repeat(256, 1fr);
}

/* fighting tree ligne */
.wrapper2x2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    grid-template-rows: repeat(2, 1fr);
}

/* cross */
    /* Red */
    .cross1Red{
        grid-column: 1;
        grid-row: 1;
        border-right:solid 1px green;
    }

    .cross2Red{
        grid-column: 2;
        grid-row: 1;
        border-left:solid 1px green;
        border-bottom:solid 1px green;
    }

    .cross3Red{
        grid-column: 1;
        grid-row: 2;
        border-right:solid 1px red;
    }

    .cross4Red{
        grid-column: 2;
        grid-row: 2;
        border-left:solid 1px red;
        border-top:solid 1px green;
    }

    /* Green */
    .cross1Green{
        grid-column: 1;
        grid-row: 1;
        border-right:solid 1px red;
    }

    .cross2Green{
        grid-column: 2;
        grid-row: 1;
        border-left:solid 1px red;
        border-bottom:solid 1px green;
    }

    .cross3Green{
        grid-column: 1;
        grid-row: 2;
        border-right:solid 1px green;
    }

    .cross4Green{
        grid-column: 2;
        grid-row: 2;
        border-left:solid 1px green;
        border-top:solid 1px green;
    }

    /* Black */
    .cross1Black{
        grid-column: 1;
        grid-row: 1;
        border-right:solid 1px black;
    }

    .cross2Black{
        grid-column: 2;
        grid-row: 1;
        border-left:solid 1px black;
        border-bottom:solid 1px black;
    }

    .cross3Black{
        grid-column: 1;
        grid-row: 2;
        border-right:solid 1px black;
    }

    .cross4Black{
        grid-column: 2;
        grid-row: 2;
        border-left:solid 1px black;
        border-top:solid 1px black;
    }

/* up to bot */
    /* Red */
    .upToBot1Red{
        grid-column: 1;
        grid-row: 1/3;
        border-right:solid 1px red;
    }

    .upToBot2Red{
        grid-column: 2;
        grid-row: 1/3;
        border-left:solid 1px red;
    }

    /* Green */
    .upToBot1Green{
        grid-column: 1;
        grid-row: 1/3;
        border-right:solid 1px green;
    }

    .upToBot2Green{
        grid-column: 2;
        grid-row: 1/3;
        border-left:solid 1px green;
    }

    /* Black */
    .upToBot1Black{
        grid-column: 1;
        grid-row: 1/3;
        border-right:solid 1px Black;
    }

    .upToBot2Black{
        grid-column: 2;
        grid-row: 1/3;
        border-left:solid 1px Black;
    }

/* left to bot */
    /* Red */
    .leftToBot1Red{
        grid-column: 1;
        grid-row: 1;
        border-bottom:solid 1px red;
    }

    .leftToBot2Red{
        grid-column: 1;
        grid-row: 2;
        border-right:solid 1px red;
        border-top:solid 1px red;
    }

    .leftToBot3Red{
        grid-column: 2;
        grid-row: 2;
        border-left:solid 1px red;
    }

    /* Green */
    .leftToBot1Green{
        grid-column: 1;
        grid-row: 1;
        border-bottom:solid 1px green;
    }

    .leftToBot2Green{
        grid-column: 1;
        grid-row: 2;
        border-right:solid 1px green;
        border-top:solid 1px green;
    }

    .leftToBot3Green{
        grid-column: 2;
        grid-row: 2;
        border-left:solid 1px green;
    }

    /* Black */
    .leftToBot1Black{
        grid-column: 1;
        grid-row: 1;
        border-bottom:solid 1px Black;
    }

    .leftToBot2Black{
        grid-column: 1;
        grid-row: 2;
        border-right:solid 1px Black;
        border-top:solid 1px Black;
    }

    .leftToBot3Black{
        grid-column: 2;
        grid-row: 2;
        border-left:solid 1px Black;
    }

/* left to top */
    /* Red */
    .leftToTop1Red{
        grid-column: 1;
        grid-row: 1;
        border-right:solid 1px red;
        border-bottom:solid 1px red;
    }

    .leftToTop2Red{
        grid-column: 1;
        grid-row: 2;
        border-top:solid 1px red;
    }

    .leftToTop3Red{
        grid-column: 2;
        grid-row: 1;
        border-left:solid 1px red;
    }

    /* Green */
    .leftToTop1Green{
        grid-column: 1;
        grid-row: 1;
        border-right:solid 1px green;
        border-bottom:solid 1px green;
    }

    .leftToTop2Green{
        grid-column: 1;
        grid-row: 2;
        border-top:solid 1px green;
    }

    .leftToTop3Green{
        grid-column: 2;
        grid-row: 1;
        border-left:solid 1px green;
    }

    /* Black */
    .leftToTop1Black{
        grid-column: 1;
        grid-row: 1;
        border-right:solid 1px Black;
        border-bottom:solid 1px Black;
    }

    .leftToTop2Black{
        grid-column: 1;
        grid-row: 2;
        border-top:solid 1px Black;
    }

    .leftToTop3Black{
        grid-column: 2;
        grid-row: 1;
        border-left:solid 1px Black;
    }

/* player case */

.playerCase{
    text-align: center; 
    border: solid 1px;
}
